<div class="quotation">
    <div class="header section">
        <div class="head-bar section" style="">
            <div class="nav-arrow col-xs-1 right-border">
                <i class="icon ion-ios-arrow-thin-left"></i>
            </div>
            <div class="quot-num col-xs-7  right-border">
                <div>
                    <div class="col-xs-10">Quotation # 5120</div>
                    <div class="col-xs-2 blue-icon"><i class="fa fa-caret-down"></i>
                    </div>
                </div>
            </div>
            <div class="calendar col-xs-4 " style="padding-left: 0;padding-right: 0">
                <div class="calendar-content" style="display: table">
                    <div style="display: table-cell;  padding-right: 9px;">
                        <span class="calendar-icon "><i class="fa fa-calendar blue-icon"></i></span>
                    </div>
                    <div style="display: table-cell">
                        <span class="date-1">NOV 16</span>

                        <div class="date-2">2015,Mon</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-input">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div class="col-xs-4 q-info">
                    <div class="form-group">
                        <label>YEAR OF CONSTRUCTION</label>
                        <input type="text" class="form-control" value="1960 to 1980">
                    </div>
                </div>
                <div class="col-xs-4 q-info">
                    <div class="form-group">
                        <label>HOUSE VALUE</label>
                        <input type="text" class="form-control" value="+ 900 000">
                    </div>
                </div>
                <div class="col-xs-4 q-info">
                    <div class="form-group">
                        <label>TYPE OF WORK</label>
                        <input type="text" class="form-control" value="Aesthetic Enhancement">
                    </div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="header-check">
            <div class="div-center">
                <div class="div-center job-text">MARKETING JOB</div>
                <div class="div-center" rain-checkbox="vm.marketingJob"></div>
            </div>
        </div>
    </div>
    <div class="menu section">
        <div class="menu-bar">
            <ul>
                <li><a href="">Info</a></li>
                <li><a href="">Quotation</a></li>
                <li><a href="">Planning</a></li>
                <li><a href="">Materials</a></li>
            </ul>
        </div>
    </div>
    <div class="content section">
        <div class="sides" style="padding-top:20px;">
            <div style="margin: 0 auto;width:110px;font-size: 9px;">SIDE OF THE BUILDING</div>

            <div style="padding: 10px;" class="side-blocks" ng-repeat="row in vm.getIndexArray(vm.sides)">
                <div class="col-xs-3" ng-repeat="side in vm.sides.slice((row-1)*4,(row-1)*4+4)">
                    <div side-block=side.isSelected id="{{side.id}}" label="{{side.label}}"
                         icon-class="{{side.iconClass}}"></div>
                </div>
            </div>
        </div>
        <div class="category" style="padding-top:8px;">
            <div style="margin: 0 auto;width:110px;font-size: 9px;">SELECT A CATEGORY</div>

            <div style="padding: 10px;" class="cat-blocks" ng-repeat="row in vm.getIndexArray(vm.categories)">
                <div class="col-xs-3" ng-repeat="cat in vm.categories.slice((row-1)*4,(row-1)*4+4)">
                    <div cat-block=cat.isSelected id="{{cat.id}}" label="{{cat.label}}"
                         icon-class="{{cat.iconClass}}"></div>
                </div>
            </div>
<!--
            <div style="padding: 10px;" class="cat-blocks">
                <div class="col-xs-3">
                    <div class=" cat-block" style="height: 100px;">
                        <div style="width:60px;margin:0 auto;">
                            <div style="text-align: center; font-size: 26px; color:#F47121;">
                                <i class="fa fa-building-o"></i>
                            </div>
                            <div style="text-align: center; font-size: 14px;">Siding</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class=" cat-block" style="height: 100px;">

                    </div>
                </div>
                <div class="col-xs-3">
                    <div class=" cat-block" style="height: 100px;">

                    </div>
                </div>
                <div class="col-xs-3">
                    <div class=" cat-block" style="height: 100px;">

                    </div>
                </div>

            </div>
            <div style="padding: 10px;" class="cat-blocks">
                <div class="col-xs-3">
                    <div class=" cat-block" style="height: 100px;">

                    </div>
                </div>
                <div class="col-xs-3">
                    <div class=" cat-block" style="height: 100px;">

                    </div>
                </div>
                <div class="col-xs-3">
                    <div class=" cat-block" style="height: 100px;">

                    </div>
                </div>
                <div class="col-xs-3">
                    <div class=" cat-block" style="height: 100px;">

                    </div>
                </div>

            </div>
            <div style="padding: 10px;" class="cat-blocks">
                <div class="col-xs-3">
                    <div class=" cat-block" style="height: 100px;">

                    </div>
                </div>

            </div>-->
        </div>
    </div>
    <div class="footer section">
        <div class="col-xs-8"></div>
        <div class="col-xs-4 nav-next">
            <div class="col-xs-6 ">
                <div style="display: inline-block;" class="text-next">NEXT</div>
                <div style="display: inline-block;" class="text-siding">Siding</div>
            </div>
            <div class="col-xs-6">
                <div class="nav-arrow">
                    <i class="icon ion-ios-arrow-thin-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>