<div class="side-block" ng-click="vm.onClick()"
     ng-class="{active: vm.sideBlock,inactive:!vm.sideBlock,withIcon:vm.iconClass,withoutIcon:!vm.iconClass}">
    <div class="block-content" style="height:45px;">
        <div style="width:100%;margin:0 auto;">
            <div style="text-align: center; font-size: 18px;">
                <i class="{{vm.iconClass}}"></i>
            </div>
            <div class="block-label" style="text-align: center;">{{vm.label}}</div>
        </div>
    </div>
</div>