.cat-block {
  border: 1px solid #AFAFAF;
  height: 100px;
  background-color: #F0F0F0;
  padding: 2px;
  font-family: 'verdana', verdana, arial, serif;
  font-style: italic;
  .block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.cat-block.active {
  border-color: #9E4218;
  background-color: #F47121;
  .block-content {
    background-color: #F47121;
    color: white;
  }
}

.cat-block.inactive {
  border-color: #AFAFAF;
  background-color: #F0F0F0;
  .block-content {
    background-color: #FFFFFF;
    color: #092848;
  }
}

.cat-block.withIcon{
  .block-label{
    font-size:10px;
  }
}
.cat-block.withoutIcon{
  .block-label{
    font-size:12px;
  }
}